@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Скидання пароля";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="ResetPassword" method="post" class="p-4 shadow rounded bg-light">
                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="Email" />

                <div class="mb-3">
                    <label asp-for="NewPassword" class="form-label fw-bold">Новий пароль:</label>
                    <input asp-for="NewPassword" type="password" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label fw-bold">Підтвердіть пароль:</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark btn-lg">Оновити пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>
