<li class="nav-item">
    <form class="d-flex" asp-controller="Cart" asp-action="Index">
        <button class="btn btn-outline-light nav-btn d-flex align-items-center nav-loginned-btn" type="submit" style="border-bottom-left-radius:0; border-top-left-radius:0;">
            <wbr />
            <span class="d-none d-sm-inline">Кошик</span>
            <span class="badge bg-light text-black ms-1 rounded-pill align-self-center">@Model</span>
        </button>
    </form>
</li>