@model ErrorViewModel
@{
    ViewData["Title"] = "Помилка";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="p-4 shadow rounded bg-light text-center">
                <h1 class="text-danger">Помилка</h1>
                <h2 class="text-danger">Сталася помилка під час обробки вашого запиту.</h2>

                @if (Model.ShowRequestId)
                {
                    <p class="mt-3">
                        <strong>Ідентифікатор запиту:</strong> <code>@Model.RequestId</code>
                    </p>
                }

                <h3 class="mt-4">Режим розробки</h3>
                <p>
                    Перехід на середовище <strong>Розробка</strong> дозволить побачити більш детальну інформацію про помилку.
                </p>
                <p>
                    <strong>Не включайте режим розробки для розгорнутих додатків.</strong>
                    Це може призвести до показу чутливої інформації з виключень кінцевим користувачам.
                </p>
                <p>
                    Для локального налагодження увімкніть середовище <strong>Розробка</strong>, встановивши змінну середовища <strong>ASPNETCORE_ENVIRONMENT</strong> в значення <strong>Development</strong> та перезапустивши додаток.
                </p>
            </div>

            <div class="my-5 text-center">
                <a href="/" class="text-decoration-none link-dark">Назад до головної</a>
            </div>
        </div>
    </div>
</div>
