<footer class="py-5 bg-dark">
    <div class="m-0 text-center text-white">
        &copy; 2025 - GameStore -
        <a href="https://github.com/ArsenHavadzyn" target="_blank" class="text-decoration-none link-light">GitHub</a>
        -
        <a href="https://www.linkedin.com/in/arsen-havadzyn-1546041bb/" target="_blank" class="text-decoration-none link-light">LinkedIn</a>
        -
        <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none link-light">Політика конфіденційності</a>
    </div>
</footer>