@{
    var isDetailsPage = ViewBag.IsDetailsPage as bool? ?? false;
    var coverImageUrl = ViewBag.CoverImageUrl as string ?? "";
}

@if (isDetailsPage && !string.IsNullOrEmpty(coverImageUrl))
{
    <header class="game-cover-header" style="background-image: url('@coverImageUrl');">
        <div class="overlay"></div>
    </header>
}
else
{
    <header class="bg-dark py-5 container-fluid">
        <div class="container px-4 px-lg-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder mb-3">@ViewData["Title"]</h1>
                <p class="lead fw-normal text-white-50 mb-0">@ViewData["Message"]</p>
            </div>
        </div>
    </header>
}