@{
    ViewData["Title"] = "Про нас";
}

<div class="container mt-5 text-center">
    <h2>Про GameStore</h2>
    <p>GameStore — це місце, де ви знайдете найкращі ігри за доступними цінами.</p>
</div>
